.bg-dark {
	color: white;
}

.profile_animated_background > video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
}

video {
  object-fit: contain;
}
	 
.container {
	text-align: center;
	background: #0000;
	padding-top: 40px;
	padding-bottom: 40px;
}
	  
img {
	margin-top: 30px;
}
	  
.btn-lg {
  padding: 0.5rem 1.5rem;
	font-size: 64px;
}