body {
  min-height: 100vh;
  background: 
    linear-gradient(to top right, rgba(33, 47, 79, 1) 0%, rgba(39, 99, 130, 1) 66%);
}

.img-me {
	margin-top: 30px;
}

.btn {
	width: 120px;
	height: 120px;
	font-size: 60px;
	text-shadow: 6px 6px 10px rgba(0,0,0,.4);
}

.btn-close {
	border-radius: 12px;
	border: 2px solid #dc3545;
	background-color: #dc3545;
	padding: 5px 12px;
}

.btn:hover {
	color: rgba(255,255,255,1);
}

.uv, .letter, .type, .credits {
	width: 80px;
	padding-left: 5px;
}

.uv {
	text-align: left;
}

.semester {
	text-align: center;
}

.badge {
	width: 80%;
}

.badge-green {
	color: #fff;
	background: #21A80B;
}

.badge-light-green {
	color: #fff;
	background: #9EC257;
}

.badge-orange {
	color: #fff;
	background: #FFB800;
}

.badge-red {
	color: #fff;
	background: #E25A5A;
}

table {
	border-left: solid 1px #000;
}

.card {
	padding: 20px;
	background: #0000;
	border: 0px;
	color: #000;
}

.card-side-left {
	color: rgba(255,255,255,.9);
	height: 100%;
	width: 100%;
	position: absolute;
	padding-top: 25%;
	padding-bottom: 25%;
	margin: -20px;
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a {
	color: black;
}

.btn:focus {
	box-shadow: none;
}

.progress {
	margin-right: auto;
}

.container {
	text-align: center;
	padding-bottom: 40px;
}

.thumb {
	font-size: 17px;
	margin-top: -5px;
}

/* Scrollbar :; */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}